<footer class="bg-success">
    <div id="footer-logo">
      <a href="#">     
        <img src="/media/pages/logo_pc.png" style="width:300px;"/>
      </a>
    </div>
    <div class="footer-content">
        <div>
            <a href="https://www.ikedatohka.co.jp/privacy.html">
                プライバシーポリシー
           </a>
        </div>
        <div>|</div>
        <div>
            <a href="#">
                利用規約
            </a>        
        </div>
        <div>|</div>
        <div>
            <small>Copyright(C) Ikeda tohka Industries Co.,Ltd. All Rights Reserved.</small>
        </div>
    </div>
</footer>